<div class="page">

  <header class="header">
    <div class="container">
      {{ page.main_menu }}

      <div class="header_content">
        <h1>Creativity</h1>
        <h2>is our life style</h2>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

    </div>
  </header>

  {{ page.highlighted }}
  {{ page.help }}

  <main role="main" class="main">
    <div class="container">
      {{ page.content }}
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>

</div>
